In [1]:
import mysql.connector    

db = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '2204William1401',
    database = 'school')
       
print("Conection established")
    
mycursor = db.cursor()

Conection established

In [2]:
mycursor = db.cursor()  # with this we create the table
mycursor.execute("CREATE TABLE students (personID int PRIMARY KEY AUTO_INCREMENT, ssn VARCHAR(12), name VARCHAR(20), \
                 lastname VARCHAR(30), address VARCHAR(50), year int, subjects VARCHAR(100), extracurricular VARCHAR(100))")

mycursor.execute("DESCRIBE students")

for i in mycursor:
    print(i)

('personID', b'int', 'NO', bytearray(b'PRI'), None, 'auto_increment')
('ssn', b'varchar(12)', 'YES', bytearray(b''), None, '')
('name', b'varchar(20)', 'YES', bytearray(b''), None, '')
('lastname', b'varchar(30)', 'YES', bytearray(b''), None, '')
('address', b'varchar(50)', 'YES', bytearray(b''), None, '')
('year', b'int', 'YES', bytearray(b''), None, '')
('subjects', b'varchar(100)', 'YES', bytearray(b''), None, '')
('extracurricular', b'varchar(100)', 'YES', bytearray(b''), None, '')

In [4]:
mycursor = db.cursor()  
mycursor.execute("CREATE TABLE parents (personID int PRIMARY KEY AUTO_INCREMENT, ssn VARCHAR(12), name VARCHAR(20), lastname VARCHAR(30), address VARCHAR(50))")

mycursor.execute("DESCRIBE parents")

for i in mycursor:
    print(i)

('personID', b'int', 'NO', bytearray(b'PRI'), None, 'auto_increment')
('ssn', b'varchar(12)', 'YES', bytearray(b''), None, '')
('name', b'varchar(20)', 'YES', bytearray(b''), None, '')
('lastname', b'varchar(30)', 'YES', bytearray(b''), None, '')
('address', b'varchar(50)', 'YES', bytearray(b''), None, '')

In [6]:
mycursor = db.cursor()  
sql = "INSERT INTO students (ssn, name, lastname, address, year, subjects, extracurricular) VALUES (%s,%s,%s,%s,%s,%s,%s)"
#val = ("784325549", "Roger", "Smith", "297 Potomac St", 2, "Chemistry, physics, calculus", "Chess")
val = ("841644984", "Charles", "Murphy", "343 Park St", 3, "Celular biology, molecular biology, anatomy", "Football")

mycursor.execute(sql, val)
db.commit()

mycursor.execute("SELECT * FROM students") 

for i in mycursor:
    print(i)

(1, '784325549', 'Roger', 'Smith', '297 Potomac St', 2, 'Chemistry, physics, calculus', 'Chess')
(2, '841644984', 'Charles', 'Murphy', '343 Park St', 3, 'Celular biology, molecular biology, anatomy', 'Football')

In [9]:
mycursor = db.cursor()  
sql = "INSERT INTO parents (ssn, name, lastname, address) VALUES (%s,%s,%s,%s)"
#val = ("457829854", "Robert", "Smith", "358 Baker St")
val = ("547315684", "Violet", "Jones", "78 Carroll St")

mycursor.execute(sql, val)
db.commit()

mycursor.execute("SELECT * FROM parents") 

for i in mycursor:
    print(i)

(1, '457829854', 'Robert', 'Smith', '358 Baker St')
(2, '547315684', 'Violet', 'Jones', '78 Carroll St')

In [10]:
mycursor = db.cursor()  
sql = "DELETE FROM students WHERE ssn = '784325549'"
mycursor.execute(sql)
db.commit()

mycursor.execute("SELECT * FROM students")

for i in mycursor:
    print(i)

(2, '841644984', 'Charles', 'Murphy', '343 Park St', 3, 'Celular biology, molecular biology, anatomy', 'Football')

In [12]:
mycursor = db.cursor()  
sql = "DELETE FROM parents WHERE ssn = '457829854'"
mycursor.execute(sql)
db.commit()

mycursor.execute("SELECT * FROM parents")

for i in mycursor:
    print(i)

(2, '547315684', 'Violet', 'Jones', '78 Carroll St')